[Desktop Entry]
Type=Application
Name=ADB Shell
Comment=Android Debug Bridge shell
Exec=xfce4-terminal --hold -x bash -c "adb shell"
Icon=utilities-terminal
Categories=TelcoSec-Device;
Terminal=false
