[Desktop Entry]
Type=Application
Name=ADB Shell
Comment=Android Debug Bridge shell
Exec=x-terminal-emulator -e "bash -c 'adb shell; exec bash'"
Icon=utilities-terminal
Categories=TelcoSec-Device;
Terminal=false
