[Desktop Entry]
Type=Application
Name=ADB Devices
Comment=List connected Android/Samsung devices
Exec=x-terminal-emulator -e "bash -c 'adb devices -l; exec bash'"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
