[Desktop Entry]
Version=1.0
Type=Application
Name=Diafuzzer (Diameter Fuzzer)
Comment=Diameter Protocol Fuzzer by Orange OpenSource
Exec=x-terminal-emulator -e "bash -c "python3 /opt/telcosec/diafuzzer/dia_fuzzer.py --help; read -p 'Press enter to exit...'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-Core;
