[Desktop Entry]
Type=Application
Name=EDL (Qualcomm)
Comment=Qualcomm Emergency Download Mode tool
Exec=xfce4-terminal --hold -x bash -c "edl --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
