[Desktop Entry]
Type=Application
Name=EDL (Qualcomm)
Comment=Qualcomm Emergency Download Mode tool
Exec=x-terminal-emulator -e "bash -c "edl --help; exec bash"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
