[Desktop Entry]
Type=Application
Name=Gammu SMS/USSD
Comment=Send SMS and USSD commands via modem
Exec=x-terminal-emulator -e "bash -c "gammu --help; exec bash"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
