[Desktop Entry]
Type=Application
Name=Gammu SMS/USSD
Comment=Send SMS and USSD commands via modem
Exec=xfce4-terminal --hold -x bash -c "gammu-at --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
