[Desktop Entry]
Type=Application
Name=Heimdall (Samsung)
Comment=Samsung device flash tool (Odin alternative)
Exec=xfce4-terminal --hold -x bash -c "heimdall --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
