[Desktop Entry]
Type=Application
Name=Kalibrate GSM
Comment=GSM frequency calibration (BladeRF/RTL-SDR)
Exec=xfce4-terminal --hold -x bash -c "kal-gsm -h"
Icon=utilities-system-monitor
Categories=TelcoSec-GSM;
Terminal=false
