[Desktop Entry]
Type=Application
Name=LTESniffer
Comment=Open-source LTE downlink/uplink sniffer
Exec=x-terminal-emulator -e "bash -c 'ltesniffer --help; exec bash'"
Icon=network-wired
Categories=TelcoSec-LTE;
Terminal=false
