[Desktop Entry]
Type=Application
Name=LTESniffer
Comment=Open-source LTE downlink/uplink sniffer
Exec=xfce4-terminal --hold -x bash -c "ltesniffer --help"
Icon=network-wired
Categories=TelcoSec-LTE;
Terminal=false
