[Desktop Entry]
Type=Application
Name=Modmobmap
Comment=Cell mapping via modem AT commands (2G/3G/4G)
Exec=xfce4-terminal --hold -x bash -c "modmobmap --help"
Icon=network-wireless
Categories=TelcoSec-Network;
Terminal=false
