[Desktop Entry]
Type=Application
Name=my5G-RANTester — 5G Multi-UE Simulator
Comment=5G Standalone Multi-UE & gNodeB Load Tester
Exec=x-terminal-emulator -e "bash -c 'my5g-rantester --help; exec bash'"
Icon=network-cellular
Categories=TelcoSec-5GNR;
Terminal=false
