[Desktop Entry]
Type=Application
Name=OAI UE Setup
Comment=Build and install OpenAirInterface UE
Exec=x-terminal-emulator -e "bash -c 'sudo oai-install; exec bash'"
Icon=network-cellular
Categories=TelcoSec-5GNR;
Terminal=false
