[Desktop Entry]
Version=1.0
Type=Application
Name=pySim Shell
Comment=SIM/USIM smartcard programming and profile management shell
Exec=xfce4-terminal --hold --title="pySim Shell" -x bash -c "pySim-shell --help; read -p 'Press enter to exit...'"
Icon=smartcard
Terminal=false
Categories=TelcoSec-SIM;
