[Desktop Entry]
Version=1.0
Type=Application
Name=SigPloit Signaling Framework
Comment=SS7, Diameter, and GTP Signaling Exploitation Framework
Exec=xfce4-terminal --hold --title="SigPloit" -x bash -c "cd /opt/telcosec/sigploit && PYTHONPATH=/opt/telcosec/sigploit:/opt/telcosec/sigploit/gtp /opt/telcosec/python2/bin/python2.7 sigploit.py; read -p 'Press enter to exit...'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-Core;
