[Desktop Entry]
Type=Application
Name=SIMTester
Comment=SIM card security testing (SRLabs)
Exec=xfce4-terminal --hold -x bash -c "simtester"
Icon=smartcard
Categories=TelcoSec-SIM;
Terminal=false
