[Desktop Entry]
Type=Application
Name=SIMTester
Comment=SIM card security testing (SRLabs)
Exec=x-terminal-emulator -e "bash -c "simtester; exec bash"
Icon=smartcard
Categories=TelcoSec-SIM;
Terminal=false
