[Desktop Entry]
Version=1.0
Type=Application
Name=SIMtrace 2 Sniffer
Comment=Sniff phone-to-SIM ISO 7816 smartcard transactions
Exec=xfce4-terminal --hold --title="SIMtrace 2 Sniffer" -x bash -c "simtrace2-sniff --help; read -p 'Press enter to exit...'"
Icon=smartcard
Terminal=false
Categories=TelcoSec-SIM;
