[Desktop Entry]
Version=1.0
Type=Application
Name=SIMurai (swsim)
Comment=Software SIM emulator - emulate a full UICC/SIM card via TCP/IP and PC/SC
Exec=x-terminal-emulator -e "bash -c 'simurai; echo \"\"; read -p \"Press Enter to exit...\"'"
Icon=smartcard
Terminal=false
Categories=TelcoSec-SIM;
