[Desktop Entry]
Type=Application
Name=tcpdump
Comment=Command-line packet analyzer
Exec=gnome-terminal --window-with-profile=e5c6b891-2d4a-4e7f-8c10-b4f3a1e9d027 --window-with-profile=e5c6b891-2d4a-4e7f-8c10-b4f3a1e9d027 -- bash -c "sudo tcpdump -i mon0 -v"
Icon=utilities-terminal
Categories=TelcoSec-Network;
Terminal=false
