[Desktop Entry]
Type=Application
Name=tcpdump
Comment=Command-line packet analyzer
Exec=xfce4-terminal --hold -x bash -c "sudo tcpdump -i mon0 -v"
Icon=utilities-terminal
Categories=TelcoSec-Network;
Terminal=false
