[Desktop Entry]
Type=Application
Name=YateBTS Run
Comment=Start Yate with YateBTS modules
Exec=xfce4-terminal --hold -x bash -c "sudo yate -s -l /var/log/yate.log"
Icon=network-wireless
Categories=TelcoSec-GSM;
Terminal=false
